body {
    background-color: #f1f1f1;
}



.table {
    width: 100%;
}
.table td {
    padding-bottom: 10px;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.bg-green {
    background:	#90EE90 ;
}